@model IEnumerable<Biblos.DataLayer.SALES>

@{
    ViewBag.Title = "Index";
}

<div class="text-center my-3">
    <h2>Historial de ventas</h2>
</div>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayName("Cantidad")
        </th>
        <th>
            @Html.DisplayName("Fecha de venta")
        </th>
        <th>
            @Html.DisplayName("Cliente")
        </th>
        <th>
            @Html.DisplayName("Isbn ")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_SALE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERS.C_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK1.ISBN)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
